
    // //块状的垂直居中
    // display: flex;
    // align-items: center;
    // //块的水平居中
    // justify-content: center;
  
.home {
    padding: 24px;
    background: #fff;
    min-height: 850px;
    .home-card {
    float: left;
    } 
    .home-content {
    position: absolute;
    top: 420px;
    width: 76%;
    border: 1px solid #e8e8e8;
    .home-menu {
    font-size: 20px;
    span {
    cursor: pointer;//鼠标成点击状
    } 
    .home-menu-active {
    border-bottom: 2px solid #1DA57A;  //活跃状态变色
    color: #1DA57A;
    padding: 0 0 16px 0;
    } 
    .home-menu-visited {
    margin-right: 40px;
    }
    } 
    .home-table-left {
    float: left;
    width: 60%;
    } 
    .home-table-right {
    float: right;
    width: 330px;
    }
    }
    }