.left-nav{
   
    .left-nav-header{
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #002140;
        img{
            margin: 0 15px;
            width: 40px;
            height: 40px;
        }
        h1{
            color: white;
            font-size: 20px;
// 没有垂直居中地原因是因为下面有边距没处理
            margin-bottom: 0em;

            
        }
    }
}